<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Login</h1><br><br>

        <form action="/user/login" method="POST">

            <input type="email" placeholder="Enter Your Email" name="email"><br><br>
            <input type="password" placeholder="Enter password" name="password"><br><br>
            <p>Forgogt Password?</p>
            <input type="date" name="date">
            <input type="submit" value="Submit"><br><br>
        </form>

    </center>
</body>

</html>